{% extends 'base.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <div class="container form-container">
        <h1 class="fw-bolder">Login</h1>
        <form method="post" class="mb-3" id="loginForm">
            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        document.getElementById('loginForm').addEventListener('submit', function (event) {
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;

            if (username.trim() === '' || password.trim() === '') {
                alert('Please fill in all fields');
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>
{% endblock %}
